<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div>Session Sample</div>

    <br /><br />

    <form action="UpdateUsername" method="post">
        @Html.AntiForgeryToken()
        Set name :<input type="text" name="username" value="John"><br>
        <input type="submit" value="Submit">
    </form>

    <br /><br />

    <div>
        @Model.Message
    </div>

    <br /><br />

    <div><a href="/SampleService2/SampleModule1/SampleForm">Go to Service 2</a> </div>


</body>
</html>
