@page "/"
@using System.Security.Claims

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>

<AuthorizeView>
    <Authorized>You are logged in with user : <b>@(context.User.FindFirst("username").Value)</b></Authorized>
    <NotAuthorized>You must login! <a href="/SampleService1/Auth/Login">Click here to login</a></NotAuthorized>
</AuthorizeView>
