@inherits Phoesion.Glow.SDK.Razor.Page
@{
    ViewData["Title"] = "Razor Sample Page";
    Layout = "Layout";
}

<div>Razor Sample Page : Include page</div>

<br />
<br />

@await IncludeAsync("PartialPageSample/Child.cshtml", Model);

<br />

<div>Content above was included from Child.cshtml</div>

