@using Foompany.Services.SampleService1;
@model Foompany.Services.SampleService1.Models.User

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div>Razor Sample Page</div>

    <br /><br />

    <div>Username : @Model.Username,</div>
    <div>Name : @Model.Name,</div>

</body>
</html>