@inherits Phoesion.Glow.SDK.Firefly.RazorPage<Foompany.Services.API.SampleService1.Models.AnotherAssemblyModel>
@{
    ViewData["Title"] = "Razor Sample Page";
    Layout = "Layout";
}

<div>Razor Sample Page : Model from another assembly</div>

<br />
<br />

<div>Status : @Model.IsSuccess,</div>
<div>Message : @Model.Message,</div>
