@inherits Phoesion.Glow.SDK.Firefly.RazorPage

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div>Razor Sample Page : Dynamic Model </div>

    <br /><br />

    <div>Message : @Model.Message,</div>

</body>
</html>