@inherits Phoesion.Glow.SDK.Razor.Page
@{
    ViewData["Title"] = "Razor Sample Page";
    Layout = "Layout";
}


<div>Razor Sample Page : Dynamic Model </div>

<br />
<br />

<div>Message : @Model.Message,</div>
