@inherits Phoesion.Glow.SDK.Razor.Page<Foompany.Services.SampleService1.Models.User>
@using Foompany.Services.SampleService1;
@{
    ViewData["Title"] = "Razor Sample Page";
    Layout = "Layout";
}

<div>Razor Sample Page</div>

<br />
<br />

<div>Username : @Model.Username,</div>
<div>Name : @Model.Name,</div>
