<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div>Custom Session Manager Sample</div>

    <br /><br />

    <form action="UpdateUsername" method="post">
        Set name :<input type="text" name="username" value="John"><br>
        <input type="submit" value="Submit">
    </form>

    <br /><br />

    <div>
        @Model.Message
    </div>

</body>
</html>