@inherits Phoesion.Glow.SDK.Firefly.RazorPage
@{
    ViewData["Title"] = "Sample Form results";
    Layout = "Layout";
}

<div>Razor Sample Form Results : </div>

<br />
<br />

<div>Hello @Model.Username</div>