@inherits Phoesion.Glow.SDK.Firefly.RazorPage
@{
    ViewData["Title"] = "Sample Form";
    Layout = "Layout";
}

<div>Razor Sample Form </div>

<br />

<div>
    <form method="post" action="~/SampleForm">
        @Html.AntiForgeryToken()
        <label for="fname">Username : </label>
        <input type="text" id="username" name="username" value="John">
        <input type="submit" value="Submit">
    </form>
</div>