@inherits Phoesion.Glow.SDK.Razor.Page
@{
    ViewData["Title"] = "Home Page";
    Layout = "Layout";
}

<div>Razor Sample Page : Dynamic Model </div>

<br />
<br />

<div>This is MyPage.cshtml from SampleModule2</div>